#container {
    display: flex;
    flex-direction: row;
  }
.main{
    width: 70%;
    margin: 10px 0 10px 0;
}
.sidebar{
    width: 30%;
    margin: 10px 0 10px 0;
}

#border1{
    border: solid 2px;
    padding-top: 0px;
}

#underline{
    border-bottom: solid 1px;
}

.boardStyle {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    background-color: #c6c6c6;
  }

div.boardStyle > p{
    padding-left: 10px;
}