#container {
    display: flex;
    flex-direction: row;
  }
.main{
    width: 90%;
    margin: 10px 0 10px 0;
}
.sidebar{
    width: 10%;
    margin: 10px 0 10px 0;
}

#border1{
    border: solid 2px;
    padding-top: 0px;
}

#underline{
    border-bottom: solid 1px;
}

.boardStyle {
    display: block;
    flex-wrap: wrap;
    width: 360px;
    height: 140px;
    background-color: #c6c6c6;
    border-radius: 5%;
  }

div.boardStyle > p{
    text-align: center;
    padding-top: 10px;
}

div.boardStyle > li{
    padding-left:  10px;
}